extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bruno Godinho

        p Full Stack JavaScript Developer


        .about-bio

          p Long life learner, passionate by technology, curious to learn new skills to improve my carreer, motivated and hard-working .This are some of traits that i can provide to your company


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +320491339223
          li godinho_bruno@hotmail.com

        a.btn-link(href='https://www.linkedin.com/in/bruno-godinho-37262912/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/caixarel' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/brunogo14335145' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back