extends layout.pug

block content
    br
    br
    h1=`${err.status} ${err.message}`
    img(src='../static/images/375407-middle.png', alt='')
    br
    nav.nav
        a(href='/')
            span &larr;
            |  Main page
