extends layout.pug

block content

  article.portfolio-intro
    img.logo( src='../static/images/logo_size.jpg',alt='')
    h1 My Portfolio
    p This are my projects

      

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
       
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail.animate__animated(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5=`${project.project_name}`

