extends layout.pug

block content
    br  
    br  
    br  
    h1=`${err.status} ${err.message}`
    img(src='../static/images/mario_sad.jpeg', alt='')
    br
    nav.nav
        a(href='/')
            span &larr;
            |  Main page

